body{

  background: linear-gradient( 230deg, #d7d2cc 0%, #304352 100%);
}

.container{
  width: 50vw;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 1.2rem;
  color: $secondary;
  border: 8px solid rgba(255, 255, 255, .2);
}
