body{

  background: linear-gradient( 230deg, #d7d2cc 0%, #304352 100%);
}

.container{
  width: 50vw;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 1.2rem;
  color: $secondary;
  border: 8px solid rgba(255, 255, 255, .2);
}

.container-large{
  width: 60vw;
  height: 70vh;
  min-width: 350px;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 1.2rem;
  color: $secondary;
  border: 8px solid rgba(255, 255, 255, .2);
  overflow-y: scroll;
  overflow-x: hidden;

}

.background-lunch {
  background-image: url('/background_3.jpg');
  background-position: center;
  background-repeat: no-repeat;

}

.background-dinner {
  background-image: url('/background_4.jpg');
  background-position-y: 75%;
  background-repeat: no-repeat;
}

.popupStyle{
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}
